body::-webkit-scrollbar {
    display: none;
    
}

body{
    background-color: black;
}

.content{
    margin-top: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.content label{
    color: black;
    display: block;
    margin-top: 10px;
    font-size: 25px;
}

.content h1{
    color: white;
}

.content input{
    font-size: 20px;
    width: 55%;
    flex: 1;
    align-items: right;
    justify-content: right;
    border-radius: 5px;
    float: right;
}

.form{
    background-color: white;
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px #777;
}

.formButton button{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    transition: background .5s;
    box-shadow: 2px 2px #888;
}

.formButton button:hover{
    color: white;
    background-color: black;
      
}

.form span{
    color: black;
    float: right;
}

footer{
    margin-top: 50px;
    
    color: white;
}

.linkRef{
    text-decoration: none;
    color: #666;
}

.inputOption{
    float: right;
    width: 283px;
    font-size: 20px;
}

.errorWarning{
    color: red;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

